.icon-xs {
  display: flex;
  width: 11px;
  height: 11px;
}

.icon-small {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.icon-md {
  display: flex;
  width: 16px;
  height: 16px;
}

.icon-sm {
  display: block;
  width: 24px;
  height: 24px;
  line-height: initial;
  cursor: pointer;
}

.icon-sm-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon-lg {
  display: block;
  width: 28px;
  height: 28px;
}

.icon-xl {
  display: block;
  width: 40px;
  height: 40px;
}

.icon-small-20 {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.icon-small-20 {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}
