<div class="booking-form">
    <h4 class="mt-3 mb-3 align-items-center">Booking</h4>
    <form [formGroup]="bookingForm" (ngSubmit)="submitForm()">
      <div class="mt-3 form-group">
        <label for="travellerName">Traveller Name:</label>
        <input
          type="text" id="travellerName"
          formControlName="travellerName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['travellerName'].errors }"
        >
        <div *ngIf="submitted && f['travellerName'].errors" class="invalid-feedback">
          <div *ngIf="f['travellerName'].errors?.['required']">Traveller Name is required</div>
        </div>
      </div>

      <div class="form-group mt-3 ">
        <label for="travellerEmail">Traveller Email:</label>
        <input
          type="email"
          id="travellerEmail"
          formControlName="travellerEmail"
          class="form-control"
          placeholder="you@example.com"
          [ngClass]="{ 'is-invalid': submitted && f['travellerEmail'].errors }"
        >
        <div *ngIf="submitted && f['travellerEmail'].errors" class="invalid-feedback">
          <div *ngIf="f['travellerEmail'].errors?.['required']">Email is required</div>
          <div *ngIf="f['travellerEmail'].errors?.['email']">Email is invalid</div>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="channel">Channel:</label>
        <select id="channel" formControlName="channel" class="form-control">
          <option value="partner">Partner</option>
          <option value="agent">Agent</option>
          <option value="direct customer">Direct Customer</option>
        </select>
      </div>

      <div class="form-check mt-3">
        <input type="checkbox" id="meetGreet" formControlName="meetGreet" class="form-check-input">
        <label class="form-check-label" for="meetGreet">Meet & Greet</label>
      </div>

      <div class="form-group mt-3">
        <label for="travelDatetime">Travel Datetime:</label>
        <input
          type="datetime-local"
          id="travelDatetime"
          formControlName="travelDatetime"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['travelDatetime'].errors }"
        >
        <div *ngIf="submitted && f['travelDatetime'].errors" class="invalid-feedback">
          <div *ngIf="f['travelDatetime'].errors?.['required']">Travel Datetime is required</div>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="bookingPrice">Booking Price:</label>
        <input
          type="number"
          id="bookingPrice"
          formControlName="bookingPrice"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['bookingPrice'].errors }"
        >
        <div *ngIf="submitted && f['bookingPrice'].errors" class="invalid-feedback">
          <div *ngIf="f['bookingPrice'].errors?.['required']">Booking Price is required</div>
        </div>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-warning ms-2"
        >
          Reset
        </button>
      </div>
    </form>
</div>
